@model IEnumerable<NurseManagement.Models.Hospital>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center well text-info">Lista de Hospitais Cadastrados</h2>

<p>
    <a asp-action="Create" class="btn btn-primary glyphicon glyphicon-plus"></a>
</p>
<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table  table-bordered table-condensed" id="serverTable">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CNPJ)
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Complement)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CNPJ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Complement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td class="text-right">
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success glyphicon glyphicon-pencil"></a>
                            <a href="@Url.Action("Detail", new { id = item.Id })" class="btn btn-info glyphicon glyphicon-file"></a>
                            <a class="btn btn-danger glyphicon glyphicon-remove" onclick="Remove('@item.Id', 'Hospital', 'Esse Hospital? Os enfermeiros vinculados, serão excluidos')"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // jquery datatable
        $("#serverTable").dataTable({
            "bJQueryUI": true,
            "oLanguage": {
                "sProcessing": "Processando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Não foram encontrados resultados",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Seguinte",
                    "sLast": "Último"
                }
            }
        })
    </script>
}